.lead {
    margin: 56px 148px 0 148px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 48px 48px 0 48px;
    }
    
}

@media screen and (max-width: 768px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
    
}
