.header__logo {
    width: 176px;
    height: 52px;
}

.header__logo:hover {
    opacity: 80%;
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}