.header__logo {
    width: 176px;
    height: 52px;
    background-image: url(../__logo/header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}