.cover {
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 92px auto 0;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 5;
}

@media screen and (max-width: 1124px) {
    .cover {
        min-height: 690px;
    }
    
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
    
}

@media screen and (max-width: 924px) {
    .cover {
        min-height: 580px;
    }
    
}

@media screen and (max-width: 800px) {
    .cover {
        min-height: 480px;
    }
    
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 0;
    }
    
}

@media screen and (max-width: 650px) {
    .cover {
        min-height: 350px;
    }
    
}

@media screen and (max-width: 400px) {
    .cover {
        min-height: 200px;
        margin: 66px auto 0;
    }
    
}
