.cover__content {
    margin: 245px auto 245px;
    z-index: 5;
}

@media screen and (max-width: 1024px) {
    .cover__content {
        margin-top: 195px;
        margin-bottom: 195px;
    }
    
}

@media screen and (max-width: 768px) {
    .cover__content {
        margin-top: 115px;
        margin-bottom: 115px;
    }
    
}

@media screen and (max-width: 650px) {
    .cover__content {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
}

@media screen and (max-width: 400px) {
    .cover__content {
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
}

